.marquee {
  animation: scroll duration(var(--duration)) linear infinite;
  position: relative;
  white-space: nowrap;

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(calc(var(--marquee-width) * -1px));
    }
  }
}

.marquee__slide {
  display: inline-block;
  width: max-content;
}
